{% extends 'base.html.twig' %}

{% block title %}New Wish{% endblock %}

{% block body %}
    <h1>Create new Wish</h1>

    {{ include('wish_controller_crud/_form.html.twig') }}

    <a href="{{ path('app_wish_controller_c_r_u_d_index') }}">back to list</a>
{% endblock %}
