{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | list !
{% endblock %}

{% block body %}
<h2>List des souhait ! </h2>

    <section class="series-list">


        {% for wish in wishes %}
            <article>

                <a
                        href="{{path('wish_detail', {'id': wish.id})}}"
                        title=" View detail about  {{ wish.title}} " >
                    {{ wish.author }}</a>

            </article>
        {% endfor %}

    </section>

{% endblock %}