<h1><a href="{{ path('main_home') }}"><img
                src="https://fontmeme.com/permalink/230510/1e3402f82b325735a4b8cb2367cbb790.png"
                alt="seau d'patate" border="0"></a></h1>
<nav>{{ include('tools/nav.html.twig') }}</nav>